.example {
  background-color: aqua;
  // background-color: #fff;

  max-width: 1200px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  height: 30px;
}
button {
  height: 30px;
  background-color: rgba(220, 20, 60, 0.726);
  color: cornsilk;
}
